.link-profile {
  height: 552px;
  margin-top: 73px;
  width: 100%;
  svg.mercado-match {
    color: #707070;
  }
  p {
    margin: 0px;
  }
  .profile-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
  }
}
