.activity {
  width: 100%;
  .activity-wraper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .t-sec {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        span {
          font-size: 20px;
          font-weight: 500;
          font-family: inherit;
        }
        a {
          font-size: 14px;
          color: #186ec5;
          text-decoration: none;
          font-weight: 500;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      button {
        border: 1px solid #0a66c2;
        border-radius: 29px;
        font-size: 15px;
        font-weight: 600;
        font-family: inherit;
        color: #0a66c2;
        width: 126px;
        height: 35px;
        cursor: pointer;
      }
      button:hover {
        background-color: #e2f0fe;
        border: 2px solid #0a66c2;
      }
    }
    .post-time {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding-top: 10px;
      gap: 10px;
      p {
        margin: 0px;
        font-size: 13px;
        font-weight: 300;
        color: #919191;
      }
      a {
        font-size: 13px;
        color: #676e67;
        text-decoration: none;
        font-weight: 400;
      }
    }
    .country {
      width: 100%;
      padding: 17px 0px;
      a {
        font-size: 14px;
        color: #424040;
        text-decoration: none;
        font-weight: 400;
      }
    }
    .post-info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 35px;
      .like-img {
        display: flex;
        gap: 8px;
        img {
          margin-right: -5px;
        }
      }
      a {
        font-size: 12px;
        color: #959191;
        text-decoration: none;
        font-weight: 400;
      }
      a:hover {
        text-decoration: underline;
        color: #0a66c2;
      }
    }
  }
}
