.lik-see-hiring {
  width: 100%;
  height: 250px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  img {
    width: 302px;
  }
}
